/*
 * -------------------------------------------------
 *  Nextflow config file for reference genome
 * -------------------------------------------------
 * Defines reference genomes, without using iGenome paths
 * Can be used by any config that customises the base
 * path using $params.genomes_base / --genomes_base
 */

params {
  genomes {
    'GRCh37' {
      bwa                     = "${params.genomes_base}/Sequence/BWAIndex/Homo_sapiens.GRCh37.dna.primary_assembly.fa.{alt,amb,ann,bwt,pac,sa}"
      dbsnp                   = "${params.genomes_base}/Annotation/dbsnp_138.b37.vcf.gz"
      dbsnp_index             = "${params.genomes_base}/Annotation/dbsnp_138.b37.vcf.gz.tbi"
      dict                    = "${params.genomes_base}/Sequence/WholeGenomeFasta/Homo_sapiens.GRCh37.dna.primary_assembly.dict"
      fasta                   = "${params.genomes_base}/Sequence/WholeGenomeFasta/Homo_sapiens.GRCh37.dna.primary_assembly.fa"
      fasta_fai               = "${params.genomes_base}/Sequence/WholeGenomeFasta/Homo_sapiens.GRCh37.dna.primary_assembly.fa.fai"
      species                 = 'homo_sapiens'
    }
    'GRCh38' {
      bwa                     = "${params.genomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/BWAIndex/Homo_sapiens_assembly38.fasta.64.{alt,amb,ann,bwt,pac,sa}"
      chr_dir                 = "${params.genomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/Chromosomes"
      chr_length              = "${params.genomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/Length/Homo_sapiens_assembly38.len"
      dbsnp                   = "${params.genomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz"
      dbsnp_index             = "${params.genomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz.tbi"
      dict                    = "${params.genomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.dict"
      fasta                   = "${params.genomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta"
      fasta_fai               = "${params.genomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta.fai"
      species                 = 'homo_sapiens'
    }
    'minimalgrch37' {
      fasta                   = "${params.genomes_base}/human_g1k_v37_decoy.small.fasta"
    }
    'smallgrch37' {
      dbsnp                   = "${params.genomes_base}/dbsnp_138.b37.small.vcf.gz"
      fasta                   = "${params.genomes_base}/human_g1k_v37_decoy.small.fasta"
      germline_resource       = "${params.genomes_base}/gnomad.r2.1.1.grch37.small.PASS.AC.AF.only.vcf.gz"
      intervals               = "${params.genomes_base}/small.intervals"
      known_indels            = "${params.genomes_base}/mills_1000g_gold_standard_and_1000G_phase1.indels.b37.small.vcf.gz"
      snpeff_db               = 'grch37.87'
      species                 = 'homo_sapiens'
      vep_cache_version       = '99'
    }
    'smallergrch37' {
      fasta                   = "${params.genomes_base}/human_g1k_v37_decoy.small.fasta"
      known_indels            = "${params.genomes_base}/dbsnp_138.b37.small.vcf.gz"
    }
    'custom' {
      fasta                   = null
    }
  }
}

