/*
 * -------------------------------------------------
 *  Nextflow config file for module specific-options
 * -------------------------------------------------
 */

params {
    modules {
// MAPPING
        'bwa_mem1_mem' {
            args             = "-K 100000000 -M -k 50 -p -c 1"
            publish_files    = "false"
        }
        'fastq_to_bam_mapping' {
            publish_files    = "false"
        }
        'mark_illumina_adapters_mapping' {
            publish_by_id    = "true"
            publish_dir      = "reports/mark_adapters"
            publish_files    = ['mark_adapter.metrics' : 'illumina_adapters']
        }
        'bam_to_fastq_mapping' {
            publish_files    = "false" 
        }
        'picard_hs_metrics' {
            publish_by_id    = "true"
            publish_dir      = "reports/picard_hs_metrics"
            publish_files    = ['metrics.txt' : 'picard_hs_metrics']
        }
        'picard_merge_bams_mapping' {
            publish_files    = "false"
        }
        'picard_sort_bams_mapping' {
            publish_files    = "false"
        }
        'merge_runs_mapping' {
            publish_files    = "false"
        }
        'bed_to_intervals' {
            publish_files    = "false"
        }
        'group_reads_mapping' {
		    publish_by_id    = "true"
            publish_dir      = "reports/fgbio"
            publish_files    = ['metrics' : 'group_reads']
        }
        'fgbio_error_rate'     {
		    publish_by_id    = "true"
            publish_dir      = "reports/fgbio"
            publish_files    = ['metrics' : 'error_rate']
        }
        'fgbio_sort_mapping' {
            publish_files    = "false"
        }
        'fgbio_call_consensus_mapping' {
            publish_files    = "false"
        }
        'fgbio_filter_mapping' {
            publish_files    = "false"
        }
        'qualimap_bamqc_mapping' {
            publish_by_id    = "true"
            publish_dir      = "reports/qualimap"
        }
        'samtools_index_mapping' {
            publish_by_id    = "true"
            publish_dir      = "preprocessing"
        }
        'samtools_stats_mapping' {
            publish_by_id    = "true"
            publish_dir      = "reports/samtools_stats"
        }
// MARKDUPLICATES
        'markduplicates' {
            args             = "ASSUME_SORTED=true REMOVE_DUPLICATES=false VALIDATION_STRINGENCY=LENIENT TMP_DIR=tmp"
            suffix           = ".md"
            publish_dir      = "preprocessing"
            publish_dir2     = "reports/gatk_mark_duplicates"
            publish_files    = [ 'md.bam'  : 'mark_duplicates', 'md.bam.bai' : 'mark_duplicates' ]
            publish_files2   = [ 'metrics' : 'mark_duplicates']
        }
// QC_TRIM
        'fastqc' {
            args             = "--quiet"
            publish_by_id    = "true"
            publish_dir      = "reports/fastqc"
        }
        'trimgalore' {
            args             = "--fastqc"
            publish_by_id    = "true"
            publish_dir      = "reports/trimgalore"
        }
        'trim_umi' {
            args             = ""
            publish_by_id    = ""
            publish_dir      = ""
        }
// OTHERS
        'get_software_versions' {
            publish_dir      = "pipeline_info"
        }
    }
}
